@define-color bg-color rgba(20,20,20,0.00);
@define-color fg-color rgb(10,10,10);
@define-color hg-color rgb(30,30,30);

* {
	font-size: 10pt;
	font-family: "Sans";
}

window#waybar {
	background: @bg-color;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-left-arrow-dark,
#custom-left-arrow-light,
#custom-right-arrow-dark,
#custom-right-arrow-light {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18pt;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    background: @fg-color;
    color: @bg-color;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	background: @bg-color;
    color: @fg-color;
}

#workspaces,
#pulseaudio,
#memory,
#cpu,
#network,
#mpd,
#temperature,
#battery,
#disk,
#tray {
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @fg-color;
}

.modules-center {
    border-radius: 2rem;
}

.modules-left {
    border-radius: 0 2rem 2rem 0;
    padding-right: 10px; 
}

.modules-right {
    border-radius: 2rem 0 0 2rem;
}

#workspaces button {
	padding: 0px;
	color: #ffffff;
}
#workspaces button.focused {
	color: #00ff00;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @hg-color;
    color: #99ff99;
	padding: 0px;
    border-color: @hg-color;
}

#memory {
	color: #2aa198;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#cpu {
    padding: 0px 0px 0px 10px;
}

#temperature {
    padding: 0px 10px 0px 0px;
}

#clock,
#pulseaudio,
#mpd,
#tray,
#network {
	padding: 0 10px;
}
