* {
	font-size: 8pt;
	font-family: "Symbols Nerd Font Mono", "Noto Sans Mono";
}

window#waybar {
	background: rgb(0, 34, 102);
	color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-left-arrow-dark,
#custom-left-arrow-light,
#custom-right-arrow-dark,
#custom-right-arrow-light {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18pt;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: rgb(0, 17, 51);
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	color: rgb(0, 34, 102);
    background: rgb(0, 17, 51); 
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#network,
#mpd,
#temperature,
#battery,
#disk,
#tray {
	background: rgb(0, 17, 51);
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#memory {
	color: #2aa198;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#cpu {
    padding: 0px 0px 0px 10px;
}

#temperature {
    padding: 0px 10px 0px 0px;
}

#clock,
#pulseaudio,
#mpd,
#tray,
#network {
	padding: 0 10px;
}
