@define-color dark-color rgba(25,25,25,0.75);
@define-color light-color rgb(50,50,50);
@define-color highlight-color rgb(10,10,10);

* {
	font-size: 8pt;
	font-family: "Noto Sans Mono";
}

window#waybar {
	background: @dark-color;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-left-arrow-dark,
#custom-left-arrow-light,
#custom-right-arrow-dark,
#custom-right-arrow-light {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18pt;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    background: @light-color;
    color: @dark-color;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	background: @dark-color;
    color: @light-color;
}

#workspaces,
#pulseaudio,
#memory,
#cpu,
#network,
#mpd,
#temperature,
#battery,
#disk,
#tray {
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @light-color;
}

.modules-center {
    border-radius: 2rem;
}

.modules-left {
    border-radius: 0 2rem 2rem 0;
}

.modules-right {
    border-radius: 2rem 0 0 2rem;
}

#workspaces button {
	padding: 0px;
	color: #ffffff;
}
#workspaces button.focused {
	color: #00ff00;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @highlight-color;
    color: #99ff99;
	padding: 0px;
    border-color: @highlight-color;
}

#memory {
	color: #2aa198;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#cpu {
    padding: 0px 0px 0px 10px;
}

#temperature {
    padding: 0px 10px 0px 0px;
}

#clock,
#pulseaudio,
#mpd,
#tray,
#network {
	padding: 0 10px;
}

#tray * {
    font-family: "Sans";
    font-size: 12;
}
